html {
  overflow: hidden;
}

.botones{
	padding: 5px;
	margin: 5px;

	display: flex;
	justify-content: space-between;

	
}
.Opponent {
	animation: rotation 3s infinite linear;
	-webkit-animation: rotation 3s infinite linear;
}

.paused .Opponent {
	animation: none;
	-webkit-animation: none;
}

@-webkit-keyframes rotation {
	from {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
	}
}

.gamebutton {
	border: none;
	background: #ddd;
	color: #333;
	padding: 10px 20px;
	outline: none;
	font-family: monospace;
	cursor: pointer;
}

#buttoninstall{
	border: none;
	background: rgb(226, 226, 226);
	color: rgb(1, 3, 104);
	padding: 5px 5px;
	outline: none;
	font-family: roboto monospace;
	font-weight: bold;
	font-size: 10px;
	cursor: pointer;
}

